/* Universal stylings */
* {
    box-sizing: border-box; 
    font-family: "Noto Sans", sans-serif;
    color:rgb(255, 255, 255)
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

h1{
    font-size: 3rem;
    margin: 0px;
}

h2{
    margin-top: 1rem;
    font-weight: 200;
}

h3{
    font-size: 1.25rem;
    margin-top: 3rem;
}

h3:first-of-type{
    margin-top: 1rem;
}

h4{
    margin-top: .5rem;
    margin-bottom: .5rem;
}

p{
    color:rgba(255, 255, 255, 0.724);
    font-weight: 200;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

a{
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

/* Two main portfolio page sections  */

body{
  background-color: rgb(20, 22, 47);
  display: block;
  max-width: 1280px;
  height:100vh;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: auto;
  margin-right: auto;
  /* Hide scrollbar for IE, Edge */
  -ms-overflow-style: none;
  /* Hide scrollbar for Firefox */
  scrollbar-width: none; 
}

.masthead{
    padding-top: 3rem;
    padding-left:.5rem;
    padding-right:.5rem;
    margin-left:.5rem;
    margin-right: .5rem;
    flex: .75; 
    /* ^ controls sizing and spacing in parent */
    display:flex;
    flex-direction: column
}

.mainContent{
    padding-bottom: 6rem;
    padding-left:.5rem;
    padding-right:.5rem;
    margin-left:.5rem;
    margin-right: .5rem;
    flex: 1;
    /* ^ controls sizing and spacing in parent */
    overflow-y: auto;
}

/* Masthead components */

.mastheadTagLine {
    max-width: 300px;
}

nav{
    display: none;
    height: fit-content;
}

nav ul {
    padding: 0;
}

nav li {
    list-style-type: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

nav li a:hover{
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

nav a {
    text-decoration: none;
    font-size: .75rem;
    color:rgba(255, 255, 255, 0.724);
}

.svg-container {
    padding-right: 1rem;
}

/* Main components */

.contentContainer{
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: max-content;
}

.timeframe{
    color:rgba(255, 255, 255, 0.724);
}

.technicalTools span{
    background-color:rgba(0, 206, 209, 0.348);
    color: rgb(0, 206, 209);
    border-radius: 1rem;
    font-size: .8rem;
    padding-left:10px;
    padding-right:10px;
}

.projectContainer{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.projectImage {
    display: block;
    height: 16rem;
    width: auto;
    margin: 2rem auto;
    border: 1px solid rgb(255, 255, 255);
}

#Deliveroo {
    color:  rgb(0, 206, 209);
}

#Deliveroo:hover{
    font-weight: bolder;
}

#resume{
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: rgb(0, 206, 209);
}

#resume:hover{
    font-weight: bolder;
}

/* Media Queries */

/* Medium screens */

@media only screen and (min-width: 650px) {
   
    body {
        padding-left: 6rem;
        padding-right: 6rem;
    }
   
    .masthead{
        padding-top: 6rem;
    }

    .projectContainer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .projectImage {
        height: 7rem;
        width: auto;
        margin: 1rem 1rem;
        margin-left: 0;
        border: 1px solid rgb(255, 255, 255) 
    }

    .projectTitle {
        margin: 0 0;
    }

}

/* Large Screens */

@media only screen and (min-width: 1080px) {
   
    body {
      display: flex;
    }
    
    .masthead{
        padding-bottom: 6rem;
    }
    
    .mainContent{
        padding-top: 6rem;
        max-height: 100vh;
    }
    
    nav {
        display: block;
      }
    
    .socials{
        margin-top: auto;
    }

  }
