* {
    box-sizing: border-box; 
    font-family: "Noto Sans", sans-serif;
    color:rgb(255, 255, 255)
}

html{
    font-size: 16px;
}

h1{
    font-size: 3rem;
    margin: 0px;
}

h2{
    margin-top: 1rem;
    font-weight: 200;
}

h3{
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h4{
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-weight: 400;
}

p{
    color:rgba(255, 255, 255, 0.724);
    font-weight: 200;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

a{
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

/* Two main portfolio page sections  */

body{
  background-color: rgb(20, 22, 47);
  display: block;
  max-width: 1280px;
  height:100vh;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: 0px auto;
  /* Hide scrollbar for IE, Edge */
  -ms-overflow-style: none;
  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
}

.masthead{
    padding-top: 3rem;
    padding-left:.5rem;
    padding-right:.5rem;
    padding-bottom: 1rem;
    margin-left:.5rem;
    margin-right: .5rem;
    flex: .5; 
    /* ^ controls sizing and spacing in parent */
    display:flex;
    flex-direction: column
}

.mainContent{
    padding-bottom: 6rem;
    padding-left:.5rem;
    padding-right:.5rem;
    margin-left:.5rem;
    margin-right: .5rem;
    flex: 1.5;
    /* ^ controls sizing and spacing in parent */
    scroll-behavior: smooth;
}

/* Masthead components */

.mastheadTagLine {
    max-width: 300px;
}

nav{
    display: none;
    height: fit-content;
}

nav ul {
    padding: 0;
}

nav li {
    list-style-type: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

nav li a:hover{
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

nav a {
    text-decoration: none;
    font-size: .75rem;
    color:rgba(255, 255, 255, 0.724);
}

.svg-container {
    padding-right: 1rem;
}

/* Main components */

.contentContainer{
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: max-content;
}

.timeframe{
    color:rgba(255, 255, 255, 0.724);
}

.technicalTools span{
    background-color:rgba(0, 206, 209, 0.348);
    color: rgb(0, 206, 209);
    border-radius: 1rem;
    font-size: .8rem;
    padding-left:10px;
    padding-right:10px;
}

.projectContainer{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.projectImage {
    display: block;
    max-height: 16rem;
    max-width: 17.5rem;
    margin: 2rem auto;
    border: 1px solid rgb(255, 255, 255);
}

.link {
    color:  rgb(0, 206, 209);
    transition: color .25s ease
}

.link:hover{
    color: rgb(255, 255, 255);
}

#resume{
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: rgb(0, 206, 209);
    transition: color .25s ease
}

#resume:hover{
    color: rgb(255, 255, 255);
} 

/* Media Queries */

/* Base formatting above are for Small screens (mobile) */

/* Medium screens (tablet) */

@media only screen and (min-width: 650px) {
   
    body {
        padding-left: 6rem;
        padding-right: 6rem;
        overflow: auto;
    }
   
    .masthead{
        padding-top: 6rem;
    }

    .projectContainer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: start;
    }

    .projectImage {
        height: auto;
        width: 7rem;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 1rem;
        margin-left: 0;
        border: 1px solid rgb(255, 255, 255) 
    }

    .projectTitle {
        margin: 0 0;
    }

}

/* Large screens (laptop */

@media only screen and (min-width: 1080px) {
   
    body {
      display: flex;
      overflow: hidden;
    }
    
    .masthead{
        padding-bottom: 6rem;
    }
    
    .mainContent{
        padding-top: 6rem;
        max-height: 100vh;
        scroll-padding-top: 7rem;
        overflow-y: auto; 
        overflow: auto; 
    }

    nav {
        display: block;
      }
    
    .socials{
        margin-top: auto;
    }

    hr:first-of-type{
        display: none;
    }

    .projectContainer:last-of-type{
        margin-bottom: 0;
    }

  }